.config/.semgrep/
Documents/guix-system-install-1.4.0.x86_64-linux.iso
Documents/code/
Documents/notes/
Documents/rowing.txt
.rustup/
Documents/notes.txt
Documents/openSUSE-Tumbleweed-NET-x86_64-Snapshot20231018-Media.iso
Documents/emacs.txt
.cache/
.config/BraveSoftware/
.config/OpenRGB/
.config/QtProject.conf
.config/Trolltech.conf
.config/akregatorrc
.config/balena-etcher/
.config/bashtop/
.config/chromium/
.config/dconf/
.config/emacs/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtkrc
.config/gtkrc-2.0
.config/kactivitymanagerdrc
.config/kateschemarc
.config/kcminputrc
.config/kconf_updaterc
.config/kdedefaults/
.config/kdeglobals
.config/keepassxc/
.config/kglobalshortcutsrc
.config/krunnerrc
.config/kscreenlockerrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/leap/
.config/libaccounts-glib/
.config/lxqt/
.config/menus/
.config/mimeapps.list
.config/news-flash/
.config/nvim/
.config/nwg-look/
.config/pavucontrol.ini
.config/plasma-localerc
.config/pulse/
.config/python/
.config/qt5ct/
.config/xfce4/
.config/xsettingsd/
.elfeed/
.gitconfig
.local/
.pki/
Documents/CyberSecurityRSS.opml
Documents/Hyprland-Dotfiles/
Documents/LFS-BOOK-12.0-NOCHUNKS.html
Documents/LICENSE
Documents/Maths with nae borders/
Documents/P.txt
Documents/Passwords.kdbx
Documents/README.md
Documents/Win10_22H2_EnglishInternational_x64v1.iso
Documents/cookie.txt
Documents/cs50py/
Documents/github.txt
Documents/install
Documents/list_installed.txt
Documents/match.py
Documents/packages.txt
Documents/pls.py
Documents/polybar-themes/
Documents/pong.py
Documents/primes.py
Documents/pulgins.txt
Documents/screenshot.png
Documents/summary.txt
Documents/test.html
Documents/test.py
Documents/windows.txt
Documents/wordle/
Downloads/
