#!/bin/bash
# --------------------------------- ALIASES -----------------------------------

# Check for various OS openers. Quit as soon as we find one that works.
for opener in browser-exec xdg-open cmd.exe cygstart "start" open; do
	if command -v $opener >/dev/null 2>&1; then
		if [[ "$opener" == "cmd.exe" ]]; then
			# shellcheck disable=SC2139
			alias open="$opener /c start";
		else
			# shellcheck disable=SC2139
			alias open="$opener";
		fi
		break;
	fi
done

# Linux specific aliases, work on both MacOS and Linux.
pbcopy() {
	stdin=$(</dev/stdin);
	pbcopy="$(which pbcopy)";
	if [[ -n "$pbcopy" ]]; then
		echo "$stdin" | "$pbcopy"
	else
		echo "$stdin" | xclip -selection clipboard
	fi
}
pbpaste() {
	pbpaste="$(which pbpaste)";
	if [[ -n "$pbpaste" ]]; then
		"$pbpaste"
	else
		xclip -selection clipboard
	fi
}
# the terminal rickroll

alias rr='curl -s -L https://raw.githubusercontent.com/keroserene/rickrollrc/master/roll.sh | bash'
# navigation
up () {
  local d=""
  local limit="$1"

  # Default to limit of 1
  if [ -z "$limit" ] || [ "$limit" -le 0 ]; then
    limit=1
  fi

  for ((i=1;i<=limit;i++)); do
    d="../$d"
  done

  # perform cd. Show error if cd fails
  if ! cd "$d"; then
    echo "Couldn't go up $limit dirs.";
  fi
}
alias cr='/usr/bin/git --git-dir=$HOME/Documents/Hyprland-Dotfiles --work-tree=$HOME remove'
alias ca='/usr/bin/git --git-dir=$HOME/Documents/Hyprland-Dotfiles --work-tree=$HOME add'
alias cps='/usr/bin/git --git-dir=$HOME/Documents/Hyprland-Dotfiles --work-tree=$HOME push --set-upstream origin main'
alias cc='/usr/bin/git --git-dir=$HOME/Documents/Hyprland-Dotfiles --work-tree=$HOME commit'
alias cs='/usr/bin/git --git-dir=$HOME/Documents/Hyprland-Dotfiles --work-tree=$HOME status'
alias gr="git remove"
alias ga="git add " 
alias gp="git push" 
alias gs="git staus" 
alias gc="git commit" 
alias g="git" 
alias y='xclip $HOME/Documents/github.txt'
alias em="/usr/bin/emacs"
alias emacs="emacsclient -c -a 'emacs'"
alias rem="killall emacs || echo 'Emacs server not running'; /usr/bin/emacs --daemon"
alias config='/usr/bin/git --git-dir=$HOME/Documents/Hyprland-Dotfiles --work-tree=$HOME'
alias vim='nvim'
alias ping='gping' 
alias sr='shutdown -r now'
alias st='shutdown -h now'
alias bs='source $HOME/.bashrc'
alias s='sudo'
alias t='top'
alias l='ls'
alias k='sudo killall'
alias i='sudo pacman -S'
alias e="emacsclient -c -a 'emacs'"
alias r='sudo pacman -Rsu'
alias p='python3'
alias u='yay '
alias nautilus='GTK_THEME=Adwaita:dark nautilus'
alias pcin='sudo pacman -S'
alias pcup='sudo pacman -Syu'
alias pcsh='sudo pacman -Ss'
alias pcrm='sudo pacman -Rsu'
alias yin='yay -S'
alias yup='yay -Syu'
alias ysh='yay -Ss'
alias yrm='yay -Rsu'
alias dl="cd ~/Downloads"
alias chmox='chmod +x'
alias fs="stat -f \"%z bytes\""
alias mkdir='mkdir -pv'
alias ..='cd ..'
alias cp='cp -vi'
alias rm='rm -I'
alias mv='mv -iv'
alias ln='ln -sriv'
command -v vim > /dev/null && alias vi='vim'
alias aptupd='sudo apt update'
alias aptupg='sudo apt upgrade'
alias aptup='sudo apt update && sudo apt upgrade && sudo apt autoremove'
alias aptin='sudo apt install'
alias aptrm='sudo apt remove'
alias aptsh='sudo apt search'
alias ssh='TERM=xterm-256color ssh'
### Colorize commands
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias diff='diff --color=auto'
alias ip='ip --color=auto'
alias pacman='sudo pacman --color=auto'
alias cycle='gpro-led -fx cycle all 0a'
alias purple='g810-led -fx cycle logo 0a && gpro-led -g fkeys ff00e1 && gpro-led -g keys 8000ff && gpro-led -g functions 2500ff && gpro-led -g modifiers 008fff && gpro-led -g arrows da00ff'
### LS & TREE
alias ll='ls -lAh --group-directories-first'
command -v lsd > /dev/null && alias ls=' lsd -A  --group-dirs first' && \
	alias tree='lsd --tree'

### CAT & LESS

alias batcat='bat --theme=ansi' && \
alias cat='bat --pager=never' && \
alias less='bat'

### TOP
# themes for light/dark color-schemes inside ~/.config/bashtop; Press ESC to open the menu and change the theme
command -v btop > /dev/null && alias top='btop'
# Empty the Trash on all mounted volumes and the main HDD. then clear the useless sleepimage
alias emptytrash=" \
    sudo rm -rfv /Volumes/*/.Trashes; \
    rm -rfv ~/.Trash/*; \
    sudo rm -v /private/var/vm/sleepimage; \
    rm -rv \"/Users/paulirish/Library/Application Support/stremio/Cache\";  \
    rm -rv \"/Users/paulirish/Library/Application Support/stremio/stremio-cache\" \
"
# IP addresses
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="sudo ifconfig -a | grep -o 'inet6\\? \\(addr:\\)\\?\\s\\?\\(\\(\\([0-9]\\+\\.\\)\\{3\\}[0-9]\\+\\)\\|[a-fA-F0-9:]\\+\\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\\: .*|GET \\/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Trim new lines and copy to clipboard
alias c="tr -d '\\n' | xclip -selection clipboard"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	# shellcheck disable=SC2139,SC2140
	alias "$method"="lwp-request -m \"$method\""
done

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="i3lock -c 000000"

# vhosts
alias hosts='sudo vim /etc/hosts'

# copy working directory
alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'
